.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(167, 209, 243);
  height: 100vh;
  width: 100vw;
}

.wrapper2 {
  font-family: Nunito;
  font-size: larger;
  padding-top: 80px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 3px;

}

.wrapper {
  padding: 35px;
  border: .1px solid rgb(221, 153, 136);
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background: rgba(219,218,218, 0.25);
  box-shadow: 0 8px 32px 0 rgb(0, 47, 92);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
  border: 1px solid rgba(255, 253, 253, 0.25);

}

.app_img {
  margin: 24px;
  max-height: 350px;
  width: auto;
  border-radius: 5px;
}
